In [2]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
df.head()

         date store  sales
0  2024-01-01     A    100
1  2024-01-02     A    120
2  2024-01-03     A     90
3  2024-01-04     A    110
4  2024-01-05     A    130

In [ ]:
df['date'].dtype
# data type of date column is object

dtype('O')

##### pd.to_datetime to coversion another datatype into date datatype

In [14]:
df['date']= pd.to_datetime(df['date'])
print(type(df['date'].dtype))

<class 'numpy.dtypes.DateTime64DType'>

In [24]:
df.date.dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
7    2024
8    2024
9    2024
Name: date, dtype: int32

In [27]:
df['date'].dt.day

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: date, dtype: int32

In [31]:
print(df.date.dt.month  ) # month number
print(df.date.dt.day    ) # day number
print(df.date.dt.weekday) # day of week (0 = Monday)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: date, dtype: int32
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: date, dtype: int32
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    0
8    1
9    2
Name: date, dtype: int32