##### df.shift() (lag / lead values)

In [1]:
import pandas as pd

df = pd.read_csv("sales_data.csv")

# convert date column to datetime
df["date"] = pd.to_datetime(df["date"])

# set date as index (important for time series)
df = df.set_index("date")

print(df)
# Time-series functions (resample, rolling, etc.) require a DatetimeIndex

           store  sales
date
2024-01-01     A    100
2024-01-02     A    120
2024-01-03     A     90
2024-01-04     A    110
2024-01-05     A    130
2024-01-06     A    125
2024-01-07     A    140
2024-01-08     A    150
2024-01-09     A    160
2024-01-10     A    155

In [ ]:
# Previous dayâ€™s sales
df["sales"].shift(1)

date
2024-01-01      NaN
2024-01-02    100.0
2024-01-03    120.0
2024-01-04     90.0
2024-01-05    110.0
2024-01-06    130.0
2024-01-07    125.0
2024-01-08    140.0
2024-01-09    150.0
2024-01-10    160.0
Name: sales, dtype: float64

In [6]:
# Sales change from previous day
df["daily_change"] = df["sales"] - df["sales"].shift(1)
df

           store  sales  daily_change
date
2024-01-01     A    100           NaN
2024-01-02     A    120          20.0
2024-01-03     A     90         -30.0
2024-01-04     A    110          20.0
2024-01-05     A    130          20.0
2024-01-06     A    125          -5.0
2024-01-07     A    140          15.0
2024-01-08     A    150          10.0
2024-01-09     A    160          10.0
2024-01-10     A    155          -5.0