In [ ]:
import pandas as pd
df = pd.read_csv("employee.csv")
df.head(2)

In [ ]:
df.isna().sum()

##### df.dropna(axis=0, how='any', subset=None, inplace=False)

In [ ]:
df.shape

In [ ]:
df.dropna().shape
#removes rows with missing (NaN) values from the DataFrame.

In [ ]:
df.dropna(axis=1).shape
#removes column with missing (NaN) values from the DataFrame.