##### required libraries

In [21]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine  #requied libraries for mysql connection

##### for data sercurity

In [22]:
from dotenv import load_dotenv
import os
load_dotenv() 
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")         # e.g., 'localhost' or '127.0.0.1'
port = os.getenv("DB_PORT")         # default MySQL port
database = os.getenv("DB_NAME")

In [23]:
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [24]:
query = "select * from pd_users;"
print(query)

select * from pd_users;

In [25]:
df = pd.read_sql(query,engine)

In [26]:
df

,user_id,full_name,email,location,join_date,time_credits
0,1,Aarav Sharma,aarav.sharma@gmail.com,Delhi,2026-01-24 09:46:25,5
1,2,Neha Verma,neha.verma@gmail.com,Mumbai,2026-01-24 09:46:25,8
2,3,Rohan Mehta,rohan.mehta@gmail.com,Ahmedabad,2026-01-24 09:46:25,3
3,4,Priya Singh,priya.singh@gmail.com,Bangalore,2026-01-24 09:46:25,10
4,5,Kunal Patel,kunal.patel@gmail.com,Surat,2026-01-24 09:46:25,6