In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine  #requied libraries for mysql connection
from dotenv import load_dotenv
import os
load_dotenv() 
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")         # e.g., 'localhost' or '127.0.0.1'
port = os.getenv("DB_PORT")         # default MySQL port
database = os.getenv("DB_NAME")
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
query = "select * from pd_users;"
print(query)
df = pd.read_sql(query,engine)
df

In [ ]:
df.loc[0:2,['full_name','email']]
#is used to select rows and columns by label (names).

In [ ]:
df.iloc[3:,:2]
#df.iloc[] is used to select rows and columns by position (numbers).

In [ ]:
df.at[2, 'full_name']
#access one specific value by label

In [ ]:
df.iat[ 2,1]
#access one specific value by position

In [ ]:
df.query("location=='Delhi'")
#lets you filter rows using a condition as a string.

In [ ]:
df[df['location']=='Delhi']
#filters rows where the specified column is greater than the value.

In [ ]:
df['user_id']
# selects a single column from the DataFrame as a Series.

In [ ]:
df[['user_id','full_name']]
# selects multiple columns from the DataFrame.

In [ ]:
df[df['full_name'].isin(['Aarav Sharma'])]
# Itâ€™s useful when checking for one or more specific values in a column.

In [ ]:
df[df['full_name'].str.contains('Aarav', case=False, na=False)]